.buttonContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #333333 0%, #2222227d 100%);
}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  border-radius: 5px;
}