*{
  background: linear-gradient(135deg, #8543bb, #dd6aa3);
}


h1{
  font-weight: 100%;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

.container-text{
  text-align: center;
}

.clock{
  text-align: center;
}

.rahul{
  margin-top: 20px;
}
